<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h1>Home Page</h1>

<h2>My Fitrst Spring Application...</h2>
<a href="about">to About Us Page</a>
<br/><br/><br/>
<form method="post" action="register">
Name: <input type="text" name="name"/><br/><br/>
City: <input type="text" name="city"/><br/><br/>
E-Mail: <input type="text" name="mail"/><br/><br/>
Phone: <input type="text" name="phone"/><br/><br/>
<input type="submit" value="register"/>
</form>

</body>
</html>